.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ed7bb8ad, #feb47b67); /* Gradient background */
    height: 70px;
    transition: background-color 0.3s ease-in-out;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav_logo p {
    color: #171717;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nav_menu li {
    position: relative;
}

.nav_menu li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.nav_menu li a:hover {
    color: #feb47b; /* Change color on hover */
}

.nav_menu hr {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: calc(100% - 20px); /* Adjust width */
    height: 3px;
    background: crimson;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.nav_menu li:hover hr {
    width: 100%; /* Expand on hover */
}

.nav_login_cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_username {
    font-size: 16px;
    font-weight: 500;
    color: #515151;
}

.nav_login_cart button {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #ff6347; /* Tomato color */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.nav_login_cart button:hover {
    background-color: #ff4500; /* OrangeRed color */
}

.nav_cart_count {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: -20px;
}

.nav_login_cart img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nav_login_cart img:hover {
    transform: scale(1.1);
}
