.item {
    width: 270px;
    height: 430px;
    box-shadow: 0.5px 0.5px 10px 2px black;
    padding: 3px;
    cursor: pointer;
    background: linear-gradient(to right, #d47bed, #feb47b); /* Adjust colors as needed */
}

.item img {
    height: 318px;
    transition:  0.6s ease-in-out; 
}

.item img:hover{
    transform: scale(.9);
    border-radius: 3%;
    rotate: 3deg;
} 

.item p{
    margin: 6px 0px;
    padding-left: 10px;
}
.item-prices{
    display: flex;
    gap: 20px;
    padding-left: 10px;

}
.item-new-prices{
    font-size: 18px;
    font-weight: 800;
    color: #374151;
}
.item-old-prices{
    font-size: 18px;
    font-weight: 500;
    color: #757171;
    text-decoration: line-through red ;
}
.item:hover{
    transform: scale(1.02);
    transition: 0.6s;
    box-shadow: .2px .2px 20px 5px rgb(109, 245, 188);
}

@media (min-width: 992px) and (max-width: 1200px) { 
    .item {
        width: 200px;
        height: 420px;
    }
    .item img {
        height: 300px;
        width: 100%;
        transition:  0.6s ease-in-out; 
    }
 }


@media (min-width: 576px) and (max-width: 768px) {
    .item {
        width: 230px;
        height: 430px;
    }
    .item img {
        height: 300px;
        width: 100%;
        transition:  0.6s ease-in-out; 
    }
}

@media (max-width: 576px) { 
    .item {
        width: 140px;
        height: 300px;
    }
    .item img {
        height: 200px;
        width: 100%;
        transition:  0.6s ease-in-out; 
    }
    .item p{
        margin: 3px 0px;
        padding-left: 5px;
        font-size: 12px !important;
    }
    .item-prices{
        display: flex;
        gap: 16px;
        padding-left: 6px;
    
    }
    .item-new-prices{
        font-size: 14px;
    }
    .item-old-prices{
        font-size: 15px;
    }
    .item:hover{
        transform: scale(1.02);
        transition: 0.6s;
        box-shadow: .2px .2px 20px 5px rgb(109, 245, 188);
    }
 }