.item {
    width: 270px;
    height: 430px;
    box-shadow: 0.5px 0.5px 10px 2px black;
    padding: 3px;
    cursor: pointer;
    background: linear-gradient(to right, #d47bed, #feb47b); /* Adjust colors as needed */
}

.item img {
    height: 318px;
    transition:  0.6s ease-in-out; 
}

.item img:hover{
    transform: scale(.9);
    border-radius: 3%;
    rotate: 3deg;
} 

.item p{
    margin: 6px 0px;
    padding-left: 10px;
}
.item-prices{
    display: flex;
    gap: 20px;
    padding-left: 10px;

}
.item-new-prices{
    font-size: 18px;
    font-weight: 800;
    color: #374151;
}
.item-old-prices{
    font-size: 18px;
    font-weight: 500;
    color: #757171;
    text-decoration: line-through red ;
}
.item:hover{
    transform: scale(1.02);
    transition: 0.6s;
    box-shadow: .2px .2px 20px 5px rgb(109, 245, 188);
}

